.wiggle {
    animation-name: wiggle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(-20deg);
    }

    10% {
        transform: rotate(20deg);
    }

    15% {
        transform: rotate(0deg);
    }
}